.create-button {
  padding: 0;

  height: 4rem;
  width: 4rem;

  color: var(--t-white);
  background-color: var(--t-black);

  border-style: solid;
  border-color: var(--t-black);
  border-width: 2px;
  border-radius: 50%;

  cursor: pointer;
}

.create-button:hover {
  background-color: #2c2c2c;
}
