.button {
  padding: 1rem;

  background-color: var(--t-primary);

  border-style: solid;
  border-color: var(--t-primary);
  border-width: 2px;
  border-radius: 10rem;

  cursor: pointer;
}

.button:hover {
  border-color: var(--t-primary-dark);
  background-color: var(--t-primary-dark);
}

.button.secondary {
  padding: calc(1rem - 2px);
  outline: 2px solid white;
  border-color: inherit;
  background-color: white;
}

.button.secondary:hover {
  outline-color: var(--t-secondary);
  background-color: var(--t-secondary);
}

.button.full-width {
  width: 100%;
}
