:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.text-logo {
  font-weight: bold;
  text-decoration: overline;
}

.circle-logo {
  left: 0;
  position: absolute;
  background: black;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
