@import "tailwindcss";

:root {
  --t-red: #da4b4b;
  --t-blue: #b1d6ff;
  --t-blue-dark: #8ec3ff;

  --t-black: #000000;
  --t-gray: #e2e2e2;
  --t-white: #ffffff;

  --t-primary: var(--t-blue);
  --t-primary-dark: var(--t-blue-dark);
  --t-secondary: var(--t-gray);
}

body, html {
  height: 100%;
  margin: 0;
}

.text-logo {
  user-select: none;
  font-weight: bold;
  text-decoration: overline;
}

.circle-logo {
  left: 0;
  user-select: none;
  position: absolute;
  background: black;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
